<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Management</title>
    <link rel="stylesheet" href="styles/bundle.css">
</head>
<body class="font-sans leading-normal text-gray-900 bg-blue-200">
    {% block content %}
        <h1>Default</h1>
    {% endblock %}
    <script src="scripts/bundle.js"></script>
</body>
</html>

